/** SPA */
:root {
	--primary-font-color: #3b4351;
	--primary-font-family: sans-serif;
	--primary-font-size: 20px;
	--overlay-background: rgba(25, 25, 25, 0.8);
}
html, body {
	margin: 0;
	padding: 0;
	color: var(--primary-font-color);
	font-family: var(--primary-font-stack);
	font-size: var(--primary-font-size);
	overflow: hidden;
}

/** editor */
.editor {
	--font: 16px Arial;
	--select-stroke: blue;
	flex: 1;
	touch-action: none;
	user-select: none;
	height: 100vh;
}
#view { --view-scale: 1; }
.editor.pan { cursor: grab; }
.editor.text { cursor: crosshair; }
#ui {
	fill: black;
	stroke: var(--select-stroke);
	stroke-width: calc(1 / var(--view-scale));
	--control-width: 16px;
}
/** toolbar */
.toolbar {
	position: fixed;
	display: flex;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 12px;
	z-index: 8;
	pointer-events: none;
}
.toolbar > * {
	position: relative;
	pointer-events: all;
	background: var(--overlay-background);
	display: flex;
	align-items: center;
	border-radius: 8px;
}
.toolbar input {
	position: absolute;
	appearance: none;
	outline: none;
}
.toolbar svg {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.4rem;
	margin: 0.4rem;
	fill: white;
	stroke: white;
	border-radius: 8px;
}
.toolbar input:checked ~ svg {
	background: blue;
}
/** left panel */
.panelLeft {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	background: var(--overlay-background);
}

/** select */
.span.selected:hover { cursor: move; }
.span.selected > path {
	stroke: var(--select-stroke);
	stroke-width: calc(1 / var(--view-scale));
}
.editor .span:not(.selected):hover > path {
	stroke-dasharray: 4;
	stroke: var(--select-stroke);
}
.span.selected:hover { cursor: move; }
.span.selected:hover > path { stroke-width: calc(2 / var(--view-scale)); }
#selectDrag, #selectGroup { fill: none; }
.editor.select #selectDrag { fill: rgba(0, 0, 255, 0.2); }
#selectGroupTop, #selectGroupBot {
	cursor: ns-resize;
	fill: white;
	--size: calc(var(--control-width) / var(--view-scale));
	--offset: calc(var(--size) / -2);
	width: var(--size);
	height: var(--size);
	transform: translate(var(--offset), var(--offset));
}
/** text */
#textInput {
	outline: none;
	border: none;
	background: transparent;
	padding: 0;
	font: var(--font);
	width: 100%;
	min-height: 0;
}
foreignObject {
	outline: 1px solid blue;
}
#textInput[lang=he] { dominant-baseline: hanging; }
/** path */
#pathPoints > circle {
	--span-scale: 1;
	r: calc(var(--control-width) / 2 / var(--view-scale));
	cursor: move;
}
textPath { font: var(--font); }
